{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('bootstrap_barrio/form') }}
{{ form.title }}
{{ form.introduction }}
{{ form.instruction }}
<div class="bat-tool-table bat-tool-likert-table bat-tool-likert-scale-7">
  <div class="bat-tool-table-header bat-tool-likert-table-header">
    <div class="bat-tool-th text-center">{{ "Strongly disagree"|t }}</div>
    <div class="bat-tool-th text-center">{{ "Disagree"|t }}</div>
    <div class="bat-tool-th text-center">{{ "Rather disagree"|t }}</div>
    <div class="bat-tool-th text-center">{{ "Neither agree nor disagree"|t }}</div>
    <div class="bat-tool-th text-center">{{ "Rather agree"|t }}</div>
    <div class="bat-tool-th text-center">{{ "Agree"|t }}</div>
    <div class="bat-tool-th text-center">{{ "Fully agree"|t }}</div>
  </div>
  <div class="bat-tool-table-body bat-tool-likert-table-body">
    {{ form.questions }}
  </div>
  {{ form.title2 }}
  {{ form.personal_characteristics }}
</div>
{{ form.form_token }}
{{ form.form_build_id }}
{{ form.form_id }}
{{ form.type }}
{{ form.captcha }}
{{ form.actions }}
